.projectdiv{
    height: 100%;
    padding: 20px;
    width: auto;
    background-color: rgba(250,240,230,0.8);
}

.projectimg {
    overflow: hidden;
}

.logo {
    width: 400px;
}

.projecttext {
    float:left;
    width: 500px;
    color: "#0f152b";
}

.authorsdiv{
    height: auto;
    margin: 30px 17%;
    padding: 30px;
    width: auto;
    background-color: rgba(250,240,230,0.8);
}
