<div class="container projectdiv">
    <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-start">
            <h1>Welcome to Andromeda!</h1>
            <h2>Browse our catalog and add some books to your cart!</h2>
            <div class="d-flex justify-content-center justify-content-md-start">
                <button mat-raised-button color="white" [routerLink]="['/search', '']" class="btn btn-primary me-3">View Books</button>
                <button mat-raised-button color="white" [routerLink]="['/cart']" class="btn btn-secondary">View Cart</button>
            </div>
        </div>
        <div class="col-md-6 text-center mt-4 mt-md-0">
            <img class="logo img-fluid" src="assets/logo.png" alt="Andromeda Logo" title="Andromeda Logo">
        </div>
    </div>
</div>
