<header>
<div class="yellowstripe"></div>
<div class="container-fluid">
  <div class="row align-items-center flex-wrap" style="margin: auto;">
    <!-- Logo -->
    <div class="col-auto mb-2 mb-md-0">
      <a [routerLink]="['/']">
        <img src="assets/andromeda_banner_layer_1.png" alt="andromeda banner" class="img-fluid" style="height: 68px;">
      </a>
    </div>

    <!-- Search Bar -->
    <div class="col-12 col-md text-center text-md-start mb-2 mb-md-0" style="padding-bottom: 10px">
      <app-search-bar class="search-form" (searchEvent)="sendToSearch($event)"></app-search-bar>
    </div>

    <!-- Buttons -->
    <div class="col-auto text-end" style="margin: auto;">
      <button *ngIf="isMember()" routerLink="/purchase-history" class="rounded fancy-button" style="margin-right: 5px;">
        <em class="material-icons">history</em> Purchase History
      </button>
      <button (click)="login()" class="rounded fancy-button" style="margin-right: 5px;">
        <em class="material-icons">person</em> Login
      </button>
      <button routerLink="/cart" class="rounded fancy-button">
        <em class="material-icons">shopping_cart</em> Cart
      </button>
    </div>
  </div>
</div>
</header>
