.container-fluid {
    padding-bottom: 1rem; /* Add padding to ensure spacing below the top bar */
}

.row {
    flex-wrap: wrap; /* Allow wrapping of elements */
}

.search-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto; /* Center the search bar */
    padding: 0.5rem 0; /* Add padding to ensure proper spacing */
}

.search-field {
    width: 85%;
    height: 42px;
    margin-right: 10px;
}

.search-button {
    height: 42px;
}